* {
    box-sizing: border-box;
}

.parent {
    width: 800px;
    height: 800px;
    background: red;
    margin: 0 auto;
    display: flex;
}

.yellow_block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.block1 {
    width: 100px;
    height: 100px;
    background: yellow;

}

.block2 {
    width: 100px;
    height: 100px;
    background: yellow;
    align-self: end;
}

.block3 {

    background: blue;
    flex-grow: 1;
    overflow-y: scroll;
}

.block4 {
    width: 150px;
    height: 150px;
    background: darkgreen;
    align-self: center;
}

.child {
    flex: none;
    margin: 10px;
    background: purple;
    width: 200px;
    height: 200px;
}

.child:nth-child(2) {
    width: 280px;
    height: 200px;
}

.child:nth-child(3) {
    width: 250px;
    height: 150px;
}

.child:nth-child(4) {
    width: 180px;
    height: 200px;
}

.child:nth-child(5) {
    width: 270px;
    height: 190px;
}

.child:nth-child(6) {
    width: 245px;
    height: 500px;
}




